body{
    background-image: url(/src/background.jpg);
    background-size: cover;
  background-attachment: fixed;
  position: relative;
  }

/* ------- Nav -------- */
.navbar {
    padding: 0 12rem;
    background-color: #ffffff;
    position: relative;
    border-bottom: solid #a11010;
}

.logo img {
    width: 100%;
    max-width: 120px;
    height: auto;
    margin-top: 1rem;
}

.header__info ul li {
    padding: 2.5rem 1.2rem 1rem 1.2rem;
    cursor: pointer;
}

.hireMe__button a {
    background-color: #135B11;
    color: #000000;
    font-size: small;
    padding: 1rem 1.5rem;
    border-color: unset;
    border-width: 0;
}
.header__info ul li:hover {
    background-color:#ece8e6;
}
  
  
/* ***************** */
/* SECCION I N I C I O */
/* ***************** */
#inicio{
    height: auto;
    display: flex;
    flex-direction: column;
}
/* Carrusel */ 
 #inicio .carrusel{
    position: relative;
    height: 50%;
}

#inicio .gallery {
    width: 100%;
    height: 100%;
}
  

#inicio .gallery-cell img{
    display: block;
    width: 100vw;
    height:50vw;
    object-fit: cover;
}
.video-container {
  margin-top: 3rem;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.desvideo{
    margin-left: 5%;
    display: inline-block;
    width: 100%;
}

  .desvideo h2{
    color: #135B11;
    font-family: "Fredoka";
    font-size: 2.5em;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    
  }

  .desvideo p{
    color: #272932;
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.5;
    width: 100%;
    font-family: "Lato";  
  }

  .desvideo span{
    color:  #FCC875;
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.5;
    width: 100%;
    font-family: "Fredoka";
    
  }
